# String

In [ ]:
#syntax

str1 = "excelr"



#  e  x  c  e  l  r
#  0  1  2  3  4  5  +ve indexing
# -6 -5 -4 -3 -2 -1  -ve indexing


#slicing or accessing

#str1[1:4] #+ve

In [ ]:
#type() - inbuilt

str1[1:5]  #str1[lowerlimit:upperlimit] #upper limit is not considered (n-1)

In [ ]:
str1[-5:-2]  #-ve indexing

In [ ]:
str1  #entire

In [ ]:
str1[::]  #entire

In [ ]:
str_new = str1[::-1]  #reverse order of the string
print(str_new)

In [ ]:
str1

In [ ]:
print(str1[-1]); print(str1[5])

In [ ]:

str1 = "excelr   "  

len(str1) #length - default fn

In [ ]:
type(str1)

In [24]:
#updating or adding #concatinating

str1 = "excelr" 


str2 = "Solutions"  #you can add str to str

print(str1+str2)

#print(str1 + str(5))

excelr solutions5

In [ ]:
# triple quotations  #wite the str in multiple lines 
new = """This is For an "example"For your understanding"""
# \n - new line

In [ ]:
new

In [ ]:
new = new.replace("For","To",2)  #replace(old, new)

In [ ]:
# replace, split, count,.isdigit, isalpha, upper, lower,title, capitalize #inbuilt functions for the string datatype
new

In [ ]:
new = """This is For an "example". For your understanding"""


new.split("an")  #split()

In [ ]:
new2 = """I'm,  manish.
I, am dhawan.
I, am a footballer"""

new2

In [ ]:
new2.split(".")

In [ ]:
new2.count("footballer")

In [ ]:
new2.upper()  #convert the string to capital's

In [ ]:
new_str = new2.lower()
new_str

In [ ]:

new2 = "excelr solutions is a training institute"
new2.title()

In [ ]:
new2.capitalize()

In [ ]:
new = "123s"

print(new.isalpha(),new.isalnum(),new.isnumeric()) #output - boolean values - True or False

# List (Mutable)

In [1]:

list_1 = [5,2.2,True,"text"] 
list_2 = [1,23,4,5,6,7.5]

tuple1 = (5,2.2,True,"text")



print(list_1)
print(list_2)
print(tuple1)

[5, 2.2, True, 'text']
[1, 23, 4, 5, 6, 7.5]
(5, 2.2, True, 'text')

In [2]:
id(list_1)  #id

2230109647936

In [3]:
list_1.append(25)  #will add the elements from the end

In [4]:
list_1

[5, 2.2, True, 'text', 25]

In [5]:
id(list_1)

2230109647936

In [4]:
list_1 = [5,2.2,True,"text"] 
      #   0  1   2     3
     #   -4 -3  -2    -1  

list_1[-3:-1] #upper limit is not considered

[2.2, True]

In [6]:
list_1[2:4]

[True, 'text']

In [8]:
list_1[1:]

[2.2, True, 'text']

In [11]:
list_1[:]

[5, 2.2, True, 'text']

In [6]:
list_1[-2:]

['text', 25]

In [19]:
list_1[-3:]

[2.2, True, 'text']

In [7]:
#list_1[::-1] #reverse order

list_1[::2]

[5, True, 25]

In [12]:
len(list_1)

4

In [13]:
type(list_1)

list

In [ ]:
#append, extend, insert, pop, remove 

list_1 = [5,2.2,True,"text"]

In [20]:
list_1.append(25)  #add elements at the end

In [21]:
list_1

[5, 2.2, True, 'text', 25]

In [22]:
list_1.insert(3,"text1")  #insert(index, new_element)

In [23]:
list_1

[5, 2.2, True, 'text1', 'text', 25]

In [26]:
list_1 = [5,2.2,True,"text"] 

list_2 = [1,2,3,4,5,6]

In [30]:
#extend 

list_1.extend(list_2)

#list_1+list_2

[5, 2.2, True, 'text', 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [28]:
list_1

[5, 2.2, True, 'text', 1, 2, 3, 4, 5, 6]

In [8]:
list_1 = [5,2.2,True,"text"]

list_3 = [1,2,3,4,5,6,7]

list_1.append(list_3)

print(list_1)

[5, 2.2, True, 'text', [1, 2, 3, 4, 5, 6, 7]]

In [9]:
list_1

[5, 2.2, True, 'text', [1, 2, 3, 4, 5, 6, 7]]

In [10]:
list_1[4][2]

3

In [11]:
list_1[-1][-5]

3

In [13]:
list_1[-1][-3:]

[5, 6, 7]

In [14]:
list_1[4][1] # 1 index in 4th element

2

In [39]:
list_1[-1][1]

2

In [5]:
#reverse 
list_1 = [5,2.2,True,"text"]

list_1.reverse()

print(list_1)

['text', True, 2.2, 5]

In [6]:
list_1.remove(True)

In [7]:
list_1

['text', 2.2, 5]

In [8]:
list_1.pop(1) #index to remove values  #() - eliminate or remove the last element ; (2) - remve the index 2

2.2

In [9]:
list_1

['text', 5]

In [10]:
list_1.pop()

5

In [11]:
list_1

['text']

In [13]:
list_1.clear() 
list_1

[]

In [15]:
list_1 = [5,2.2,True,"text"]


list_1*4

[5,
 2.2,
 True,
 'text',
 5,
 2.2,
 True,
 'text',
 5,
 2.2,
 True,
 'text',
 5,
 2.2,
 True,
 'text']

In [16]:
list_3 = [12,52,32]

In [17]:
max(list_3)

52

In [18]:

min(list_3)

12

In [24]:
list_3 = [12,52,32] 
list_3.sort() #ascending format

print(list_3)

print("___________________________________")

list_3.sort(reverse = True)

print(list_3)

[12, 32, 52]
___________________________________
[52, 32, 12]

In [16]:
list3 = ['c','c++','python','java','apple'] #sort
list3.sort()

In [17]:
list3

['apple', 'c', 'c++', 'java', 'python']

In [18]:
list3.sort(reverse=True)

In [19]:
list3

['python', 'java', 'c++', 'c', 'apple']

In [20]:
list3.sort(key = len, reverse = False)
list3

['c', 'c++', 'java', 'apple', 'python']