In [1]:
tup1 = (1,2,3,"text")

In [2]:
id(tup1)

1983136423424

In [3]:
#no inbuilt functions in tuple 
tup1 = (1,2,3,4,"text",54)

In [4]:
id(tup1)

1983132392416

In [5]:
tup2 = ("excelr","solutions")

In [6]:
tup1 = tup1+tup2  # '+'

In [7]:
tup1  #or print(tup1)

(1, 2, 3, 4, 'text', 54, 'excelr', 'solutions')

In [8]:
type(tup1)

tuple

In [9]:
len(tup1)

8

In [10]:
tup1

(1, 2, 3, 4, 'text', 54, 'excelr', 'solutions')

In [12]:
tup1[3:5]

(4, 'text')

In [13]:
del(tup1)  #del() - delete function

In [14]:
tup1

NameError: name 'tup1' is not defined

In [15]:
tup1 = (1,2,3,4,"text")
tup1*4

(1,
 2,
 3,
 4,
 'text',
 1,
 2,
 3,
 4,
 'text',
 1,
 2,
 3,
 4,
 'text',
 1,
 2,
 3,
 4,
 'text')

In [16]:
# Dictionary

dict1 = {}

In [17]:
type(dict1)

dict

In [18]:
dict2 = {"name": "Excelr solutions","year":2013}

In [19]:
dict2

{'name': 'Excelr solutions', 'year': 2013}

In [20]:
#no indexing (both +ve and -ve)
#indexing will be done on basis of keys

dict2["name"]

'Excelr solutions'

In [21]:
#updating
dict2["course"] = "data analyst"

In [22]:
dict2

{'name': 'Excelr solutions', 'year': 2013, 'course': 'data analyst'}

In [23]:
dict2["year"] = 2014

In [24]:
dict2

{'name': 'Excelr solutions', 'year': 2014, 'course': 'data analyst'}

In [25]:
del(dict2["year"])

In [26]:
dict2

{'name': 'Excelr solutions', 'course': 'data analyst'}

In [27]:
dict2.clear() # to clear all the elements in dictionary

In [28]:
dict2

{}

In [29]:
del(dict2)

In [30]:
dict2

NameError: name 'dict2' is not defined

# set

In [ ]:
# syntax for set is  {}

set1 = {1,2,3}  #set
print(set1)

In [ ]:
type(set1)

In [ ]:
#set - union, intersection, symmetric

# mutable , Unique values(no duplicates will be considered), no positional indexing

set1 = {1,2,3,4,4}
print(set1)

In [ ]:
set1[0]

In [ ]:
set2 = set()

In [ ]:
type(set2)

In [ ]:
len(set2)

In [ ]:
set3 = set([1,2,3,4,4,4])  #converting a list to set by using set fn

In [ ]:
set3

In [ ]:
#union

s1 = {1,2,3}
s2 = {3,4,5}

s1.union(s2) #.union

In [ ]:
s1 | s2  #  |- union

In [ ]:
#intersection
s1 = {1,2,3}
s2 = {3,4,5}

s1.intersection(s2)

In [ ]:
#difference (A-B)  #

s1 = {1,2,3,4,5,6}
s2 = {5,6,7}

s1-s2

In [ ]:
s2-s1  #(B-A)

In [ ]:
#symmetric difference

s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

In [ ]:
s1.symmetric_difference(s2)

In [ ]:
s1 = {1,2,3,4,5,6}
s2 = {1,2,3}

s1.issubset(s2)

In [ ]:
s2.issubset(s1)

In [ ]:
#int, float, list, string, dictionary,tuple, set,dataframe(mutable)

In [ ]:


name = input()

In [ ]:
name

In [ ]:
type(name)

In [ ]:
X = 10; Y=20

In [ ]:
year  = eval(input("please enter:")) #evalaute

In [ ]:
type(year)

In [ ]:
year2 = int(input("please enter some interger:"))

In [ ]:
year2

In [ ]:
type(year2)